<h1>Counters</h1>

<p><a href=/counters/add>Add counter</a></p>
<ul>
    {{#each counter}}
        <li>
            Counter {{id}} has value {{value}} <form action="/counters/increment/{{id}}" method="post">Value: <input type="number" name="value" value={{formNumber}}><button>Increment value</button></form>
        </li>
    {{/each}}
</ul>

