<h1>Counters</h1>

<p><a href=/counters/add>Add counter</a></p>
<ul>
    {{#each counter}}
        <li>
            Counter {{id}} has value {{value}} <a href="/counters/increment/{{id}}">Increment</a>
        </li>
    {{/each}}
</ul>

